<html xmlns:th="https://www.thymeleaf.org/">

<div th:replace="fragments/commonui :: header"></div>

<body>
	<div th:replace="fragments/commonui :: menu"></div>
	<div class="container">
		<div class="card-header text-white bg-primary text-center">
			<h2>Doctor Data</h2>
		</div>
		<div class="card-body">
			<form th:action="@{/app/view}" >

				<!-- row- Spec -->
				<div class="row">
					<div class="col-2"><label for="specialization">Specialization</label></div>
					<div class="col-4">
						<select name="specId" id="specId" class="form-control">
							<option value="0">--VIEW ALL DOCTORS--</option>
							<option th:each="ob:${specialization}" th:value="${ob.key}" th:text="${ob.value}"></option>
						</select>
					</div>
					<div class="col-6">
						<button type="submit" class="btn btn-success">Search</button>
					</div>
				</div>
			</form>
			<div th:text="${message}"></div>
			<table class="table   table-hover">
				<tr class="bg-success text-white">
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>

					<th>Mobile</th>
					<th>Gender</th>

					<th>Operations</th>
				</tr>
				<tr th:each="ob:${docList}">
					<td th:text="${ob.specialization.name}"></td>
					<td th:text="${ob.lastName}"></td>
					<td th:text="${ob.email}"></td>

					<td th:text="${ob.mobile}"></td>
					<td th:text="${ob.gender}"></td>

					<td>

						<a th:href="@{/app/bookSlot(id=${ob.id})}" class="btn btn-danger">BOOK SLOT</a>

					</td>
				</tr>
			</table>

		</div>

	</div>

</body>

</html>